# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/
*.egg-info/

# Data (Sensitive or Large)
data/raw_reviews.json
data/cleaned_reviews.json
# We keep weekly_pulse.json as a sample if needed, but usually it's better to ignore generated data
data/*.json

# Node / Frontend
node_modules/
dist-frontend/

# IDEs
.vscode/
.idea/
*.swp
*.swo
